@import 'compass/utilities/general/clearfix';

#pomoedit-projects {
	td.column-pmeproject-file {
		font-family: Consolas, Monaco, monospace;
	}
	.column-pmeproject-type {
		width: 70px;
	}
	.column-pmeproject-language {
		width: 200px;
	}
}

#pomoedit-editor {
	font-family: 'Helvetica Neue', Tahoma, Arial, sans-serif;

	> tbody > tr {
		&:hover,
		&.open {
			background-color: #eee;
		}
	}

	th, td {
		border-left: 1px solid rgba(#000, .08);
	}

	.pme-edit-col {
		width: 35px;
		padding: 0;
		border-left: none;
	}

	.pme-context {
		width: 200px;
	}
}
	.pme-entry {
		td {
			position: relative;
			padding: 8px 10px;
		}

		.button {
			margin-top: 5px;
		}
	}
		.pme-value {
			display: block;
			//white-space: nowrap;
			//overflow: hidden;
			//text-overflow: ellipsis;

			.pme-entry.open & {
				display: none;
			}
		}
			.has-plural .pme-value.pme-plural {
				border-top: 1px solid rgba(#000, .08);
				padding-top: 5px;
				margin-top: 5px;
			}
			.pme-entry.no-plural .pme-plural {
				display: none;
			}

		.pme-fields {
			@include pie-clearfix;
			display: none;

			.pme-entry.open & {
				display: block;
			}
		}

		.pme-input {
			display: block;
			width: 100%;
			max-width: 100%;
			margin: 0;

			&[readonly] {
				background: #fefefe;
				box-shadow: none;
			}

			+ .pme-input {
				margin-top: 5px;
			}
		}

		.pme-button {
			display: block;
			font: 0/0 a;
			width: 35px;
			height: 35px;
			padding: 0;
			background: transparent;
			border: none;
			opacity: .5;
			cursor: pointer;

			&:after {
				font: 20px/35px dashicons;
			}

			&:hover,
			&.active,
			.pme-entry:hover & {
				opacity: 1;
			}
		}
			.pme-edit {
				&:after {
					content: '\f464';
				}

				.pme-entry.open & {
					display: none;
				}
			}
			.pme-cancel,
			.pme-save {
				display: none;

				.pme-entry.open & {
					display: block;
				}
			}
			.pme-cancel {
				&:after {
					content: '\f158';
				}
			}
			.pme-save {
				&:after {
					content: '\f147';
					font-size: 28px;
				}
			}
		#pomoedit-advanced {
			&:after {
				content: '\f160';
			}
			&.active:after {
				content: '\f528';
			}
			&.active {
				cursor: none;
				pointer-events: none;
			}
		}

	.pme-direction-ltr .pme-translation {
		direction: ltr;
		text-align: left;
	}
	.pme-direction-rtl .pme-translation {
		direction: rtl;
		text-align: right;
	}