#pomoeditor_projects td.column-pmeproject-file {
  font-family: Consolas, Monaco, monospace; }
#pomoeditor_projects .column-pmeproject-type {
  width: 70px; }
#pomoeditor_projects .column-pmeproject-language {
  width: 200px; }

#pomoeditor table {
  font-family: 'Helvetica Neue', Tahoma, Arial, sans-serif; }
  #pomoeditor table > tbody > tr:hover {
    background-color: #eee; }
  #pomoeditor table th, #pomoeditor table td {
    border-left: 1px solid rgba(0, 0, 0, 0.08); }
#pomoeditor .pme-edit-col,
#pomoeditor .pme-info-col {
  width: 35px;
  padding: 0; }
#pomoeditor .pme-edit-col {
  border-left: none; }

#pomoeditor_translations .pme-context {
  width: 200px; }

.pme-translation td {
  position: relative;
  padding: 8px 10px; }
.pme-translation .button {
  margin-top: 5px; }
.pme-translation .pme-actions,
.pme-translation .pme-inputs,
.pme-translation .pme-comments {
  display: none; }
.pme-translation.open .pme-edit,
.pme-translation.open .pme-previews {
  display: none; }
.pme-translation.open .pme-actions,
.pme-translation.open .pme-inputs,
.pme-translation.open .pme-comments {
  display: block; }

.pme-input {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0; }
  .pme-input[readonly] {
    background: #fefefe;
    box-shadow: none; }
  .pme-input + .pme-input {
    margin-top: 5px; }

.pme-plural {
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 5px;
  margin-top: 5px; }
  .has-plural .pme-plural {
    display: block; }

.pme-comments {
  padding: 5px 0 0;
  font-family: Consolas, Monaco, monospace;
  font-size: .8em; }
  .pme-comments:empty {
    display: none !important; }

.pme-button {
  display: block;
  font: 0/0 a;
  width: 35px;
  height: 35px;
  padding: 0;
  background: transparent;
  border: none;
  opacity: .5;
  cursor: pointer; }
  .pme-button:after {
    font: 20px/35px dashicons; }
  .pme-button:hover, .pme-button.active, tr:hover .pme-button, tr.open .pme-button {
    opacity: 1; }

.pme-edit:after {
  content: '\f464'; }

.pme-cancel:after {
  content: '\f158'; }

.pme-save:after {
  content: '\f147';
  font-size: 28px; }

.pme-delete:after {
  content: '\f182'; }

.pme-add {
  padding-top: 2px; }
  .pme-add:after {
    content: '\f132'; }

.pme-info {
  display: none; }
  .pme-info:after {
    content: '\f348'; }
  .has-comments .pme-info {
    display: block; }

.pme-direction-ltr .pme-translated {
  direction: ltr;
  text-align: left; }

.pme-direction-rtl .pme-translated {
  direction: rtl;
  text-align: right; }

.pomoeditor-advanced {
  display: none; }
  .pomoeditor-advanced-mode .pomoeditor-advanced {
    display: block; }
