#pomoedit-projects td.column-pmeproject-file {
  font-family: Consolas, Monaco, monospace; }
#pomoedit-projects .column-pmeproject-type {
  width: 70px; }
#pomoedit-projects .column-pmeproject-language {
  width: 200px; }

#pomoedit-editor {
  font-family: 'Helvetica Neue', Tahoma, Arial, sans-serif; }
  #pomoedit-editor > tbody > tr:hover, #pomoedit-editor > tbody > tr.open {
    background-color: #eee; }
  #pomoedit-editor th, #pomoedit-editor td {
    border-left: 1px solid rgba(0, 0, 0, 0.08); }
  #pomoedit-editor .pme-edit-col {
    width: 35px;
    padding: 0;
    border-left: none; }
  #pomoedit-editor .pme-context {
    width: 200px; }

.pme-entry td {
  position: relative;
  padding: 8px 10px; }
.pme-entry .button {
  margin-top: 5px; }

.pme-value {
  display: block; }
  .pme-entry.open .pme-value {
    display: none; }

.has-plural .pme-value.pme-plural {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 5px;
  margin-top: 5px; }

.pme-entry.no-plural .pme-plural {
  display: none; }

.pme-fields {
  *zoom: 1;
  display: none; }
  .pme-fields:after {
    content: "";
    display: table;
    clear: both; }
  .pme-entry.open .pme-fields {
    display: block; }

.pme-input {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0; }
  .pme-input[readonly] {
    background: #fefefe;
    box-shadow: none; }
  .pme-input + .pme-input {
    margin-top: 5px; }

.pme-button {
  display: block;
  font: 0/0 a;
  width: 35px;
  height: 35px;
  padding: 0;
  background: transparent;
  border: none;
  opacity: .5;
  cursor: pointer; }
  .pme-button:after {
    font: 20px/35px dashicons; }
  .pme-button:hover, .pme-button.active, .pme-entry:hover .pme-button {
    opacity: 1; }

.pme-edit:after {
  content: '\f464'; }
.pme-entry.open .pme-edit {
  display: none; }

.pme-cancel,
.pme-save {
  display: none; }
  .pme-entry.open .pme-cancel, .pme-entry.open
  .pme-save {
    display: block; }

.pme-cancel:after {
  content: '\f158'; }

.pme-save:after {
  content: '\f147';
  font-size: 28px; }

#pomoedit-advanced:after {
  content: '\f160'; }
#pomoedit-advanced.active:after {
  content: '\f528'; }
#pomoedit-advanced.active {
  cursor: none;
  pointer-events: none; }

.pme-direction-ltr .pme-translation {
  direction: ltr;
  text-align: left; }

.pme-direction-rtl .pme-translation {
  direction: rtl;
  text-align: right; }
