@import 'compass/utilities/general/clearfix';

#pomoeditor_projects {
	td.column-pmeproject-file {
		font-family: Consolas, Monaco, monospace;
	}
	.column-pmeproject-type {
		width: 70px;
	}
	.column-pmeproject-language {
		width: 200px;
	}
}

#pomoeditor {
	table {
		font-family: 'Helvetica Neue', Tahoma, Arial, sans-serif;

		> tbody > tr {
			&:hover {
				background-color: #eee;
			}
		}

		th, td {
			border-left: 1px solid rgba(#000, .08);
		}
	}
	.pme-edit-col,
	.pme-info-col {
		width: 35px;
		padding: 0;
	}
	.pme-edit-col {
		border-left: none;
	}
}

#pomoeditor_translations {
	.pme-context {
		width: 200px;
	}

	.screen-reader-text {
		position: relative;
		margin: 0;
		height: auto;
		width: auto;
		clip: auto;
		overflow: visible;
		opacity: .75;
	}
}
	.pme-translation {
		td {
			position: relative;
			padding: 8px 10px;
		}

		.button {
			margin-top: 5px;
		}

		.pme-actions,
		.pme-inputs,
		.pme-comments {
			display: none;
		}

		&.open {
			.pme-edit,
			.pme-previews {
				display: none;
			}
			.pme-actions,
			.pme-inputs,
			.pme-comments {
				display: block;
			}
		}
	}
		.pme-input {
			display: block;
			width: 100%;
			max-width: 100%;
			margin: 0;

			&[readonly] {
				background: transparent;
				background: rgba(#fff, .5);
				border-color: rgba(#ddd, .5);
				box-shadow: none;
			}

			+ .pme-input {
				margin-top: 5px;
			}
		}
			.pme-plural {
				display: none;
				border-top: 1px solid rgba(#000, .08);
				padding-top: 5px;
				margin-top: 5px;

				.has-plural &.pme-preview,
				.has-plural.open &.pme-input {
					display: block;
				}
			}

		.pme-comments {
			display: none;
			padding: 5px 0 0;
			font-family: Consolas, Monaco, monospace;
			font-size: .8em;

			.pme-input {
				font-size: 1em;
			}
		}
			.has-extracted-comments.open .pme-extracted-comments,
			.has-translator-comments.open .pme-translator-comments,
			.has-references.open .pme-references {
				display: block;
			}
			.pme-references .pme-input {
				white-space: nowrap;
			}

		.pme-button {
			display: block;
			font: 0/0 a;
			width: 35px;
			height: 35px;
			padding: 0;
			background: transparent;
			border: none;
			opacity: .5;
			cursor: pointer;

			&:after {
				font: 20px/35px dashicons;
			}

			&:hover,
			&.active,
			tr:hover &,
			tr.open & {
				opacity: 1;
			}
		}
			.pme-edit {
				&:after {
					content: '\f464';
				}
			}
			.pme-cancel {
				&:after {
					content: '\f158';
				}
			}
			.pme-save {
				&:after {
					content: '\f147';
					font-size: 28px;
				}
			}
			.pme-delete {
				&:after {
					content: '\f182';
				}
			}
			.pme-add {
				padding-top: 2px;

				&:after {
					content: '\f132';
				}
			}

	.pme-direction-ltr .pme-translated {
		direction: ltr;
		text-align: left;
	}
	.pme-direction-rtl .pme-translated {
		direction: rtl;
		text-align: right;
	}

.pomoeditor-advanced {
	display: none;

	.pomoeditor-advanced-mode & {
		display: block;
	}
}