#pomoedit-projects {
	td.column-pmeproject-file {
		font-family: Consolas, Monaco, monospace;
	}
	.column-pmeproject-type {
		width: 70px;
	}
	.column-pmeproject-language {
		width: 200px;
	}
}

#pomoedit-editor {
	> tbody > tr {
		cursor: pointer;
	}
}
	.pme-entry {
		td {
			position: relative;
		}

		&.has-context .pme-source:after {
			content: '[' attr(data-context) ']';
			display: block;
			font-style: italic;
		}
	}
		.pme-value {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			.pme-entry.open & {
				display: none;
			}
		}

		.pme-fields {
			display: none;

			.pme-entry.open & {
				display: block;
			}
		}

		.pme-input {
			display: block;
			width: 100%;
			max-width: 100%;
			margin: 0;
		}

		.pme-plural {
			display: none;

			.pme-entry.has-plural & {
				display: block;
			}
		}