#pomoedit-projects td.column-pmeproject-file {
  font-family: Consolas, Monaco, monospace;
  color: #777; }
  #pomoedit-projects td.column-pmeproject-file strong {
    color: #444; }
#pomoedit-projects .column-pmeproject-type {
  width: 70px; }
#pomoedit-projects .column-pmeproject-language {
  width: 200px; }

#pomoedit-editor > tbody > tr {
  cursor: pointer; }

.pme-entry td {
  position: relative; }

.pme-value {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .pme-entry.open .pme-value {
    display: none; }

.pme-fields {
  display: none; }
  .pme-entry.open .pme-fields {
    display: block; }

.pme-input {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0; }

.pme-plural {
  display: none; }
  .pme-entry.has-plural .pme-plural {
    display: block; }
